:root {
    --main-red: #D87355;
    --main-red-hover: #BD664D;
    --main-brown: #4E4140;
    --main-green: #9EB57E;
    --main-green-hover: #8EA272;
    --main-background: #FAF8F6;
    --main-block: #F3F0EE;
    --secondary-color: #636E75;
    --main-yellow: #EEBC73;
    --main-yellow-hover: #E7B670;
    --grey-border: #636E7540;
}