body {
    background-color: #D87355;
}

.main-container {
    display: flex;
    gap: 100px;
    width: fit-content;
    margin: auto;
}

.main-container__text {
    margin: 80px 0 0 0;
}

.main-container__text > p {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 59px;
    line-height: 86px;
    color: #FAF8F6;
    margin: 0;
}

.main-container__text > h1 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-size: 300px;
    line-height: 86px;
    color: #FAF8F6;
    margin: 120px 0 150px 40px;
}

.main-container__text > a {
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 26px;
    color: #FAF8F6;
    background: #EEBC73;
    border-radius: 28px;
    padding: 20px 40px;
    text-decoration: none;
}

.main-container > img {
    width: 530px;
    margin-top: 140px;
}